@import "tailwindcss";

@theme {
  --color-lastbite-green: #168A34;
  --color-lastbite-darkGreen: #0E5C23;
  --color-lastbite-orange: #E34A36;
  --color-lastbite-bg: #F9F9F6;

  /* Seting Font */
  --font-heading: "DM Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}